---
import BaseHead from "../components/BaseHead.astro"
import Header from "../components/Header.astro"
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
---
<!DOCTYPE html>
<html lang="en" data-theme="black">
<head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION}/>
</head>
<body>
    <Header />
    <div class="mt-5">
        <ul>
            <div class="text-3xl text-slate-100">Do you have gf ?</div>
            <div class="text-2xl text-slate-100"> =&gt; Next Question</div>
            <div class="text-3xl text-slate-100">What IDE do you use </div>
            <div class="text-2xl text-slate-100"> =&gt; VScode </div>
            <div class="text-3xl text-slate-100">Do you play any games</div>
            <div class="text-2xl text-slate-100"> =&gt; Yes, i spend a lot of time in dota </div>
            <div class="text-3xl text-slate-100">Where I can find you</div>
            <div class="text-2xl text-slate-100"> =&gt; You can DM me on Discord</div>
        </ul>
    </div>
</body>
</html>