---

---
<div class="navbar bg-base-100 border-b-4 border-neutral pb-5">
	<div class="hidden md:flex md:flex-1">
		<a class="btn btn-ghost normal-case text-xl text-slate-50">Juan Michael</a>
	</div>
	<div class="mr-5">
		<a href="/"><button class="btn btm-nav-sm btn-primary mx-2 capitalize">Home</button></a>
		<a href="/about"><button class="btn btn-primary mx-2 capitalize">About</button></a>
		<a href="/faq"><button class="btn btn-primary mx-2 capitalize">FAQ</button></a>
	</div>
</div>
