---

---
<div class="navbar bg-base-100 border-b-4 border-neutral pb-5">
	<div class="flex-1">
		<a class="btn btn-ghost normal-case text-xl">Juan Michael</a>
	</div>
	<div class="flex-none mr-5">
		<button class="btn btn-primary hover:rounded-full">About</button>
	</div>
</div>
